

<nav>

<div class="container-fluid">
<a class="brand" href="/">HypeCam</a>

<div class="links" style="float: right;">
<a class="conl" href="mailto:michaelabehsera@gmail.com">Contact us</a>
<a class="dwl" href="https://itunes.apple.com/us/app/hypecam/id1318114860?mt=8">Download App</a>
</div>

</div>

</nav>


<style>

nav {
  margin-top: 15px;
  position: sticky;
}

.brand {
  color: white;
  font-size: 110%;
  transition: all 200ms;
  margin-left: 25px;
}

.brand:hover {
  color: white;
  text-decoration: none;
}

.conl {
  color: #71787D;
  margin-right: 10px;
  transition: all 200ms;
}

.conl:hover {
  text-decoration: none;
  color: white;
}

.dwl {
  background: linear-gradient(90deg, #f1c40f, #2ecc71 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 transition: all 200ms;
 margin-right: 25px;
}

.dwl:hover {
  background: linear-gradient(90deg, #f1c40f, #2ecc71 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

</style>
