

<nav>

<div class="container-fluid">
<a class="brand" href="">HypeCam</a>

<div class="links" style="float: right;">
<a class="conl" href="">Contact us</a>
<a class="dwl" href="">Download App</a>
</div>

</div>

</nav>


<style>

nav {
  margin-top: 15px;
  position: sticky;
}

.brand {
  color: white;
  font-size: 110%;
  transition: all 200ms;
  margin-left: 25px;
}

.brand:hover {
  color: white;
  text-decoration: none;
}

.conl {
  color: #71787D;
  margin-right: 10px;
  transition: all 200ms;
}

.conl:hover {
  text-decoration: none;
  color: white;
}

.dwl {
 color: #A1D993;
 transition: all 200ms;
 margin-right: 25px;
}

.dwl:hover {
  color: #b9ffa8;
  text-decoration: none;
}

</style>
