include templates/_global_vars
include templates/_global_mixins
include templates/_project_mixins
include templates/_project_vars
- var array = '';
block vars
doctype
html(lang="en")
	head
		// Global site tag (gtag.js) - Google Analytics
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-118384613-1')
		script.
			-
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', 'UA-118384613-1');
		
		+head(array)
	body(class= array.body_class)
		+header
		.wrapper(class= array.layout_mod)
			.base(class= array.layout_mod)
				block content_block
			+footer
		+scripts
		block local_popup
