extends _layout

block vars
	- var array = {body_class:'', layout_mod:'', sub_keywords:'',title_inner:'Detail page'}
block content_block
	section.section.details_mod
		.section_in
			.hero
				.hero_col.video_mod
					.video_wrap
						+video(videos.url)
				.hero_col.text_mod
					h2.hero_title Level up Your Meme Game!
					.hero_descr
						p Create video memes with HypeCam it’s so much fun you will give up on fortnite
					a.btn_download.color_mod(href='#') Download HypeCam

		ul.new_list
			each video2 in videos2
				li.new_item
					a.new_link(href='#')
						.video_wrap
							+video(video2.url)
