extends _layout

block vars
	- var array = {body_class:'', layout_mod:'', sub_keywords:'',title_inner:'HypeCam - GIFs That Talk!'}
block content_block
	meta(property='og:image', content=videos.thumbnail)
	meta(property='og:image:secure_url', content=videos.thumbnail)
	img.hidden(src=videos.thumbnail)
	section.section.details_mod
		.section_in
			.hero
				.hero_col.video_mod
					.video_wrap
						+video(videos.url)
				.hero_col.text_mod
					h2.hero_title Level up Your Meme Game!
					.hero_descr
						p Create video memes with HypeCam it’s so much fun you will give up on fortnite
					a.btn_download.color_mod(href='https://itunes.apple.com/us/app/hypecam/id1318114860?mt=8' target='_blank' onclick='ga(‘send’, ‘event’, ‘CTA’, ‘Download’, `clicked download button`);') Download HypeCam

			ul.new_list
				each video2 in videos2
					li.new_item
						a.new_link(href='/hype/' + video2._id)
							.video_wrap
								+video2(video2.url)
