<style>

.brand {
  color: black;
}

.brand:hover {
  color: black;
}

.conl:hover {
  color: #71787D;
}

</style>
<body class="rootbkg">
<div class="section1">
  <h1>GIFs that talk!<br>
    Level up Your Meme<br>
    Game</h1>
    <p>HypeCam</p>
    <a target="_blank" href="https://itunes.apple.com/us/app/hypecam/id1318114860?mt=8" class="rootdwApp">Download The App</a>
</div>
