<center><a href="/hype/5ade82fcc6d7a80014da423c">Video Page</a></center>

<div class="newvids">
  {{#each gifs}}
    <img class="newvideo" src="{{this.images.fixed_height.url}}" />
  {{/each}}

</div>
