<div class="video-page">

<center><a href="/hype/5ade82dac6d7a80014da423b">Video Page</a></center>

<div class="newvids">
  {{#each gifs}}
  <div>
  <a href="{{this.images.fixed_height.url}}">
    <img class="newvideo" src="{{this.images.fixed_height.url}}" />
  </a>
  </div>
  {{/each}}

</div>
</div>
