<div class="video-page">

<div class="newvids2">
  {{#each videos}}
  <div>
    <a href="/hype/{{this._id}}">
      <video class="newvideo" loop autoplay muted name="media">
        <source src="{{this.url}}" type="video/mp4">
      </video>
    </a>
  </div>
  {{/each}}

</div>
</div>
