<meta property="og:image"              content="{{videos.thumbnail}}" />


<div class="video-page">

<div class="videocontainer">
  <div>
    <video class="videoshow" loop autoplay= name="media">
      <source src="{{videos.url}}" type="video/mp4">
    </video>

  </div>
  <div class="videocontent">
    <h1>Level up your meme game!</h1>
    <p>Create video memes with HypeCam<br>
      it's so much fun you will give up on<br>
       fortnite</p>

    <a target="_blank" href="https://itunes.apple.com/us/app/hypecam/id1318114860?mt=8" class="downloadapp">Download HypeCam</a>

  </div>
</div>

<div class="newvids">
  {{#each videos2}}
  <div>
  <a href="/hype/{{this._id}}">
    <video class="newvideo" loop autoplay muted name="media">
      <source src="{{this.url}}" type="video/mp4">
    </video>
  </a>
  </div>
  {{/each}}


</div>
<center>
  HypeCam
</center>

</div>
