<div class="video-page">

<div class="videocontainer">
  <div>
    <img class="videoshow" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC">
  </div>
  <div class="videocontent">
    <h1>Level up your meme game!</h1>
    <p>Create video memes with HypeCam<br>
      it's so much fun you will give up on fortnite</p>

    <a class="downloadapp">Download HypeCam</a>

  </div>
</div>

<div class="newvids">

<div class="newvideo"></div>
<div class="newvideo"></div>
<div class="newvideo"></div>
<div class="newvideo"></div>
<div class="newvideo"></div>
<div class="newvideo"></div>


</div>
<center>
  HypeCam
</center>

</div>
