<div class="video-page">

<div class="videocontainer">
  <div>

    <video class="videoshow" loop autoplay= name="media">
      <source src="https://s3.amazonaws.com/cloudupload-userfiles-mobilehub-702221288/44BA10AA-8E4B-4C78-8714-9A4F0C7CF67A" type="video/mp4">
    </video>


    <!-- <img class="videoshow" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC"> -->
  </div>
  <div class="videocontent">
    <h1>Level up your meme game!</h1>
    <p>Create video memes with HypeCam<br>
      it's so much fun you will give up on fortnite</p>

    <a class="downloadapp">Download HypeCam</a>

  </div>
</div>

<div class="newvids">

<div class="newvideo"></div>
<div class="newvideo"></div>
<div class="newvideo"></div>
<div class="newvideo"></div>
<div class="newvideo"></div>
<div class="newvideo"></div>


</div>
<center>
  HypeCam
</center>

</div>
