<div class="video-page">

<div class="videocontainer">
  <div>
    <video class="videoshow" loop autoplay= name="media">
      <source src="{{video.url}}" type="video/mp4">
    </video>

  </div>
  <div class="videocontent">
    <h1>Level up your meme game!</h1>
    <p>Create video memes with HypeCam<br>
      it's so much fun you will give up on fortnite</p>

    <a href="https://itunes.apple.com/us/app/hypecam/id1318114860?mt=8" class="downloadapp">Download HypeCam</a>

  </div>
</div>

<div class="newvids">

  {{#each gifs}}
  <div>
  <a href="{{this.images.fixed_height.url}}">
    <img class="newvideo" src="{{this.images.fixed_height.url}}" />
  </a>
  </div>
  {{/each}}


</div>
<center>
  HypeCam
</center>

</div>
