body {
  background: #2E3438;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
}

.video-page {
  position: absolute;
  top: 15rem; left: 0; right: 0;
  margin-left: auto; margin-right: auto;
  width: 930px;
}

.videocontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.videoshow {
  width: 600px;
  height: 420px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  margin-left: -15rem;
}

.videocontent {
  position: relative;
  margin-left: 3rem;
  color: white;
}

.videocontent h1 {
  margin-top: 0px;
  font-size: 125%;
  color: white;
}

.videocontent p {
  font-weight: normal;
  color: rgba(149, 165, 166,1.0);
  line-height: 25px;
}

.downloadapp {
  position: absolute;
  bottom: 1rem;
  background: linear-gradient(126deg, #E4F584, #4EFCD6);
  padding-top: 1rem;
  padding-bottom: 1.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 60px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: all 200ms;
  box-shadow: 0 2px 20px #0000002b;
}

.downloadapp:hover {
  text-decoration: none;
  color: white;
  background: linear-gradient(126deg, #E4F584, #4EFCD6);
}

.newvids {
  margin-top: 15rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.newvideo {
  background: white;
  border-radius: 8px;
  height: 25rem;
  width: 25rem;
  margin: 2rem;
  display: inline-block;
}

center {
  color: rgba(149, 165, 166,1.0);
  margin-bottom: 5rem;
}
