extends _layout

block vars
	- var array = {body_class:'index_mod', layout_mod:'', sub_keywords:'',title_inner:'Index page'}
block content_block
	section.section.index_mod
		.section_in.wide_mod
			h1.section_title.index_mod GIFs That Talk!<br>Level up Your Meme Game
