.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-right {
	font-size:(13/10)*1rem;
	width:(21.8/13)*1em;
}
.icon-check {
	font-size:(14.4/10)*1rem;
	width:(21.4/14.4)*1em;
}
.icon-close {
	font-size:(15.4/10)*1rem;
	width:(15.4/15.4)*1em;
}
.icon-empty {
	font-size:(45.44/10)*1rem;
	width:(45.44/45.44)*1em;
}
.icon-link {
	font-size:(20.9/10)*1rem;
	width:(20.9/20.9)*1em;
}
.icon-search {
	font-size:(22.2/10)*1rem;
	width:(22.2/22.2)*1em;
}
